%footer-text{
    font-size: 12px;
    line-height: 18px;
    // color: $heading;
    padding: 10px;
}

%flex-space-betwewen{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

