
// Small devices
@mixin sm {
     @media (min-width: #{$screen-sm-min}) {
         @content;
     }
  }
  
  // Medium devices
  @mixin md {
     @media (min-width: #{$screen-md-min}) {
         @content;
     }
  }
  
  // Large devices
  @mixin lg {
     @media (min-width: #{$screen-lg-min}) {
         @content;
     }
  }
  
  // Extra large devices
  @mixin xl {
     @media (min-width: #{$screen-xl-min}) {
         @content;
     }
  }


// hamburger menu hide
@mixin hideMenu (){
    // for the PC
    @include xl {
        .nav {
            .navbar {
                #btn {
                    display: none;
                }
            }
        }
    }

    // for the tablet
    @include md {
        .nav {
            .navbar {
                #btn {
                    display: none;
                }
            }
        }
    }
}

// @mixin body {
//      display: flex;
//      justify-content: center;
//      align-items: center;
//      background-color: $gray-09;
// }

// @mixin container {
//      width: 90%;
//      display: grid;
//      background-color: $gray-09;
// }

@mixin img ($size, $background: $white, $name) {
     background-image: url("/public/media/#{$name}.svg");
     background-position: center;
     background-repeat: no-repeat;
     background-color: $white;
     background-size: cover;
     overflow: hidden;
}