// colors
$black :#000;
$orange: #ec8a1b;
$white: #fff;
$gray-00: #e0e1e1;
$gray-01: #bcbcbc;
$gray-02: #615c5c;
$gray-03: #e5e5e5;
$gray-04: #7e7e7e;
$gray-05: #ececec;
$gray-06: #666666;
$gray-07: #9a9b9c;
$gray-08: #c6c6c6;
$gray-09: #ededed;
$gray-10: #787878;
$gray-11:#666565;
$gray-12:#eeefef;
$gray-13:#dddddd;

// fonts
$arial : 'Arial',sans-serif;
$century: 'Century Gothic';

// media Queries
$mobil: "768px";
$pc: "1200px";

// color gradients
$color-gradient: "linear-gradient(0deg, #ef9f46 0%, #f3ab5b 50%, #f4cfa7 100%)";
$color-border: #675f55;