// colors
$black :#000;
$orange:#f3a256;
$white: #fff;
$gray-02:#615c5c;
$gray-01: #bcbcbc;
$gray-03:  #e5e5e5;
$gray-04:#7e7e7e;
$gray-05: #ececec;


// colores de las tarjetas

$gray-06: #666565;
$gray-07: #9a9b9c;



// fonts
$arial : 'Arial', sans-serif;
$century: 'Century Gothic';




// media Queries
$mobil: "768px";
$tablet: "1024px";
$pc: "1200px";