// /* Style for PC and Tablet  */
// .main-footer {
//     @extend %flex-space-betwewen;
//     border-top: 1px solid $heading;

//     #menu {
//         @extend %flex-space-betwewen;

//         .menu_li {
//             @extend %footer-text;
//         }

//         a {
//             padding-right: 10px;
//             color: $heading;
//             border-right: 1px solid $heading;
//         }

//         a.current {
//             color: $texto;
//             font-weight: bold;
//         }

//         a.last {
//             border-right: none;
//         }

//     }

//     .footer-copy {
//         p {
//             @extend %footer-text;
//         }

//     }

// }


// @include mobil {
    .main-footer {
        border-top: none;
        display: flex;
        flex-direction: column;

        #menu {
            display: flex;
            flex-direction: column;

            .menu_li a {
                border-right: none;
            }
        }
    }
// }