/* navbar */
@font-face {
    font-family: 'iconos';
    src: url('/public/fonts/fonts/icomoon.eot?hckds1');
    src: url('/public/fonts/fonts/icomoon.eot?hckds1#iefix') format('embedded-opentype'),
        url('/public/fonts/fonts/icomoon.ttf?hckds1') format('truetype'),
        url('/public/fonts/fonts/icomoon.woff?hckds1') format('woff'),
        url('/public/fonts/fonts/icomoon.svg?hckds1#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'iconos' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 2.5rem;
    color: $gray-07;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


// styles navbar general
.nav {
    height: 50px;

    .navbar {
        position: absolute;
        top: 20px;

        #btn {
            .icon-menu:before {
                content: "\e9bd";
            }
        }

    }

    #logo {
        font-size: 45px;
        color: #666565;
        font-family: "Century Gothic";
        text-decoration: none;
        width: 20px;
        flex: 2;
    }

    .menu {
        line-height: 50px;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;

        .menu_li {
            padding: 20px;
            list-style: none;

            .menu_li_a {
                color: $black;
                padding: 5px 10px;
                text-decoration: none;

                &:hover {
                    border-radius: 5%;
                }
            }

        }
    }

}


// version mobil

@include mobil {

    .nav {
        .navbar {
            display: flex;
            align-items: center;
            position: initial;
            padding: 1rem;
            font-size: 1.2rem;

            #btn {
                .icon-menu {

                    &:active,
                    &:hover {
                        color: $orange;
                        transition: all 5s;
                    }

                }
            }
        }

        .menu {
            flex-direction: column;
            align-items: center;
            background-color: $gray-09;
            position: absolute;
            top: 50px;
            width: 100%;
            transform: translateX(-100%);

            z-index: 1;
        }

        .active {
            transition: transform 1s;
            transform: translateX(0);
        }
    }
}

@include tablet {
    .nav {
        .navbar {
            #btn {
                display: none;
            }
        }
    }
}