.btn{
    // width: 100px;
    width: toRem(91);
    height: toRem(24);
    padding: toRem(5)  toRem(15);
    background-image: var(--bg-color-btn-grandient);
    border-radius: roRem(40);
    border: none;
    font-family: var(--font-family-secundary);
    color: var(--gray-10);
    font-size: toRem(12);
    border: 1px solid var(--gray-08);
}