// Estilos generales

.container{
  max-width: $width;
   display: grid;
   background-color: var(--bg-color-page);
}

.main {
  width: 100%;
}



// Estilos section design
.design {
  width: 100%;
  height: toRem(180);
  border-radius: roRem(8);
  filter: drop-shadow(1.06px -1.696px 2.5px rgba(234, 234, 234, 0.23));
  background-image: url("/public/media/slider.png");
  background-position:center top;
  background-repeat: no-repeat;
  resize: both;
  overflow: scroll;
  background-attachment: local;
  //background-size: contain;
  background-size: 100%;
  
}

// Estilos section advance
.advance {
  border-bottom: 1px solid var(--color-secundary);
  display: flex;
  padding: 14px;
  border-radius: 6px;
  flex-direction: column;
  background-color: #fff;
  overflow: hidden;

   .advance-h1 {
     line-height: toRem(18);
     font-size: toRem(27);
     color: var(--color-font-advance-text);
     
     .text-orange {
      color: var( --color-primary);
   }
  }

  .title {
    font-size: 1.7rem;
    line-height: 2rem;
  }

  .description {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .advance-btn {
    align-self: flex-end;
    padding: 5px;

    a {
      color: var(--card-avanced-title-color);

    }
  }
 }



// // cards general
// .card {
//   // width: 425px;
//   height: 250px;
//   border-radius: 6px;
//   filter: drop-shadow(1px 1.732px 1.5px rgba(197, 196, 196, 0.47));
//   background-color: $white;
//   border: 1px solid #e1e0e0;
//   display: grid;
//   margin: 1rem auto;
//   line-height: 1.4;
//   box-shadow: 0 3px 7px -1px rgba($black, .1);
//   overflow: hidden;


//   .title {
//     width: 100%;
//     background-image: linear-gradient(0deg, #eaeaea 0%, #eeeeee 100%);

//     h2 {
//       font-size: 1.5rem;
//       margin-left: 10px;
//       margin-bottom: 0px;
//       color: $gray-04;
//     }

//     hr {
//       margin: 0px;
//       border: 1px solid $gray-00;
//     }
//   }

//   .meta {
//     width: 100px;
//     height: 200px;
//   }


//   // .img {
//   //   @include img(contain,"solution_icon");
//   // }
//   // .img {
//   //   @include img(contain,"Testimonial_icon");
//   // }

//   // .img {
//   //   @include img(contain,"web_design_icon");
//   // }


//   .description {
//     margin-left: 20px;
//     padding: 1rem;

//     h3 {
//       font-size: 1rem;
//       text-transform: capitalize;
//       color: $gray-07;
//     }

//     p {
//       color: $gray-07;


//       .tecnology {
//         border-bottom: 1px solid $gray-03;
//         color: $gray-03;
//       }
//     }

//     .read-more {
//       padding: 10px;
//       text-align: right;

//       a {
//         font-size: 0.8rem;
//       }
//     }
//   }
// }

// // welcome to  infothech

// .welcome {
//   font-family: $century;

//   h2 {
//     font-size: 22px;
//     margin-top: 10px;
//   }

//   p {
//     font-size: 12px;
//     line-height: 18px;
//     color: $gray-07;
//     font-family: $arial;
//     margin-top: 20px;
//   }

// }

/* Home version mobil */

// @include mobil {

  // // navbar
  // .nav {
  //   .navbar {
  //     #logo {
  //       font-size: 2rem;
  //     }

  //     #btn {
  //       .icon-menu {
  //         font-size: 2rem;
  //       }
  //     }
  //   }
  // }

  // // desing
  // .design {
  //   height: 235px;
  // }

  // // advance
  // .advance {

  //   .advance-h1 {
  //     border-bottom: 1px solid $gray-00;
  //     font-size: 2rem;
  //     margin-bottom: 10px;
  //   }

  //   .title {
  //     font-size: 1rem;
  //     line-height: 1.2rem;
  //     margin-bottom: 10px;
  //   }

  //   .description {
  //     font-size: 1rem;
  //     line-height: 1.2rem;
  //   }

  //   .advance-btn {
  //     font-size: 12px;
  //     color: $gray-10;
  //     font-family: $arial;

  //   }
  // }

  // // cards mobil
  // .card {
  //   height: 186px;
  //   border-radius: 6px;
  //   filter: drop-shadow(1px 1.732px 1.5px rgba(197, 196, 196, 0.47));
  //   background-color: $white;
  //   border: 1px solid #e1e0e0;

  //   .title {
  //     h2 {
  //       margin-top: 10px;
  //       font-size: 20px;
  //       color: $gray-04;
  //       font-family: $century;
  //     }

  //     hr {
  //       border: 1px solid #e0e1e1;
  //       position: relative;
  //       top: 10%;
  //     }
  //   }

  //   .meta {
  //     width: 50px;
  //     height: 60px;
  //     padding-left: 7px;
  //   }

  //   .img {
  //     width: 80px;
  //     height: 100px;
  //   }

  //   .description {
  //     h3 {
  //       font-size: 13px;
  //       color: $gray-11;
  //       font-weight: bold;
  //       font-family: $arial;
  //     }

  //     p {
  //       font-size: 15px;
  //       line-height: 18px;
  //       color: #9a9b9c;
  //       font-family: $arial;
  //     }

  //     .read-more {
  //       padding: 10px 0px 0px 0px;
  //     }
  //   }
  // }


  // .welcome {
  //   h2 {
  //     padding-bottom: 5px;
  //     border-bottom: 1px solid $gray-00;
  //   }
  // }

// }

/* Version tablet */

// @include tablet {
//   .container {
//     // gap: 20px;

//     .header {
//       .nav {
//         height: 90px;

//         .menu {
//           .menu_li {
//             padding: 20px 0px 0px 0px;

//             .menu_li_a {
//               padding: 10px 20px;

//               &:hover {
//                 background-image: $color-gradient;
//                 border: 1px solid #675f55;
//                 color: $white;
//               }
//             }
//           }
//         }
//       }

//     }

//     .design {
//       height: 300px;
//       background-size: 940px 420px cover;
//     }

//     .advance {
//       height: 300px;

//       .advance-h1 {
//         padding-bottom: 10px;
//         border-bottom: 1px solid $gray-00;
//         font-size: 27px;
//         line-height: 28px;
//       }

//       .title {
//         padding-top: 10px;
//         padding-bottom: 5px;
//         font-size: 14px;
//         line-height: 20px;
//         border-bottom: 1px solid $gray-00;
//         color: #bcbcbc;
//       }

//       .description {
//         font-size: 12px;
//         padding-top: 10px;
//         line-height: 20px;
//         color: #9a9b9c;
//         font-family: $arial;
//       }
//     }

//     .card1 {
//       margin-right: 10px;
//     }

//     .card2 {
//       margin-left: 10px;
//     }

//     .card3 {
//       margin-right: 10px;
//     }



//     .card {
//       height: 186px;
//       border-radius: 6px;
//       filter: drop-shadow(1px 1.732px 1.5px rgba(197, 196, 196, 0.47));
//       background-color: $white;
//       border: 1px solid #e1e0e0;

//       .title {
//         h2 {
//           margin-top: 10px;
//           font-size: 20px;
//           color: $gray-04;
//           font-family: $century;
//         }

//         hr {
//           border: 1px solid #e0e1e1;
//           position: relative;
//           top: 10px;
//         }
//       }

//       .meta {
//         width: 50px;
//         height: 60px;
//         padding-left: 7px;
//       }

//       .img {
//         width: 80px;
//         height: 100px;
//       }

//       .description {
//         h3 {
//           font-size: 13px;
//           color: $gray-11;
//           font-weight: bold;
//           font-family: $arial;
//         }

//         p {
//           font-size: 15px;
//           line-height: 18px;
//           color: #9a9b9c;
//           font-family: $arial;
//         }

//         .read-more {
//           padding: 10px 0px 0px 0px;
//         }
//       }
//     }

//     .welcome {
//       height: 200px;
//       margin-bottom: 20px;
//     }
//   }
// }

// /* Version pc */

// @include pc {
//   .design {
//     width: 79%;
//     height: 256px;
//   }

//   .advance {
//     height: 256px;
//     margin-left: -43%;

//     .advance-h1 {
//       border-bottom: 1px solid $gray-00;
//       font-size: 38px;
//       line-height: 35px;
//       color: #363d40;
//       font-family: "Century Gothic";
//       padding-bottom: 10px;
//     }

//     .title {
//       font-size: 14px;
//       line-height: 25px;
//       color: #bcbcbc;
//       font-family: "Century Gothic";
//       border-bottom: 1px solid $gray-00;
//       padding-bottom: 10px;
//     }

//     .description {
//       font-size: 12px;
//       color: #9a9b9c;
//       font-family: "Arial";
//       line-height: 20px;
//     }

//     .advance-btn {
//       padding-top: 25px;
//     }
//   }

//   .cards {
//     display: initial;
//   }

//   .card1 {
//     margin-right: 10px;

//   }

//   .card2 {
//     margin: 0px 5px 0px 5px;

//   }

//   .card3 {
//     margin-left: 10px;
//   }

//   .card {
//     height: 186px;
//     border-radius: 6px;
//     filter: drop-shadow(1px 1.732px 1.5px rgba(197, 196, 196, 0.47));
//     background-color: $white;
//     border: 1px solid #e1e0e0;

//     .title {
//       h2 {
//         margin-top: 10px;
//         font-size: 20px;
//         color: $gray-04;
//         font-family: $century;
//       }

//       hr {
//         border: 1px solid #e0e1e1;
//         position: relative;
//         top: 10px;
//       }
//     }

//     .meta {
//       width: 50px;
//       height: 60px;
//       padding-left: 7px;
//     }

//     .img {
//       width: 80px;
//       height: 100px;
//     }

//     .description {
//       h3 {
//         font-size: 13px;
//         color: $gray-11;
//         font-weight: bold;
//         font-family: $arial;
//       }

//       p {
//         font-size: 15px;
//         line-height: 18px;
//         color: #9a9b9c;
//         font-family: $arial;
//       }

//       .read-more {
//         padding: 10px 0px 0px 0px;
//       }
//     }
//   }

//   .welcome {
//     margin-right: 20px;

//     h2 {
//       padding-bottom: 5px;
//       border-bottom: 1px solid $gray-00;
//     }
//   }

// }